# ---------------------------
# Node
# ---------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ---------------------------
# Vite
# ---------------------------
dist/
vite.config.ts.timestamp-*
.vite/
*.local

# ---------------------------
# Logs
# ---------------------------
logs/
*.log
*.log.*

# ---------------------------
# Environment Files
# ---------------------------
.env
.env.*
!.env.example

# ---------------------------
# Cache / Build System
# ---------------------------
*.cache
.eslintcache
.parcel-cache/
.cache/
.tmp/
.temp/

# ---------------------------
# Coverage
# ---------------------------
coverage/
*.lcov

# ---------------------------
# System Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# IDE / Editor
# ---------------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------------
# Local Development
# ---------------------------
*.local
.sass-cache/
export-dist.zip